@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --dark:#000000dc;
    --light:#fff;
    --blue:#29A8FF;
    --btn:#303136;
    --fontblue:#29A8FF;
}
h2{
    color: var(--light);
    text-align: center;
}
.nbr1,.nbr2,.op{
    font-size:  25px;
    font-weight: bold;
}
body{
    /* background: url(../assets/img/bg1.jpg); */
    background-color: var(--dark);
    /* background-size: 100% 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    padding-top: 50px;
    background-color:var(--dark);
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
    color: var(--light);
    height: 80px;
}
span{
    color: var(--fontblue);
}
.operate{
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    font-size: 20px;
}
.egale{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.button{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}
button:hover{
    background-color: white;
}
.affichage h3{
    font-weight: bold;
}
.calcul{
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    height: 100%;
}
.button .btngale{
    grid-column: 3/5 !important;
    background-color: #1991FF;
    color: white;
}
/* .button{
    margin-top: 50px;
} */
.button button{
    color: var(--fontblue);
    font-size: 25px;
    font-weight: bold;
    background-color: #303136;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
}
.copyrit{
    position: absolute;
    left: -70px;
    display: none;
}
.copyrit h3{
    font-weight:bold;
    transform: rotate(-90deg);
    font-size: 15px;
}
.social-media{
    display: none;
}
.social-media i{
    font-size: 15px;
    color: black;
}

@media screen and (min-width: 600px){
    body{
        background: url(../assets/img/bg.jpg);
        background-size: cover;
        justify-content: flex-start;
        padding-left: 200px;
    }
    .calcul{
        padding: 0 0px;
        margin-top: 0px;
        width: 90%;
    }
    .container{
        padding-top: 0px;
        width: 340px;
        height: 90vh;
        box-shadow: 0px 5px 5px white;
        border-radius: 20px;
    }
    h2{
        margin-top: 10px;
    }
    .button{
        margin-top: 0px;
    }
    .button button{
        height: 50px;
        font-size: 22px;
    }
    .social-media{
        position: absolute;
        bottom: -20px;
        display: flex;
        gap: 10px;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        gap: 10px;
        flex-direction: column;
        right: 0;
        bottom: auto;
    }
    .social-media i{
        font-size: 25px;
    }
    .social-media i:hover{
        font-size: 22px;
        transition: .2s ease-in-out;
    }
    .copyrit{
        display: block;
        left: auto;
        right: 10px;
        bottom: 10px;
    }
    .copyrit h3{
        font-weight: bold;
        transform: none;
        font-size: 20px;
    }
    .codesource i {
        font-size: 20px;
    }
}